// 用于重写默认颜色常量，或者设置新的 stylus 颜色常量。
// colors
$accentColor = #1199BD
$textColor =  #003366;
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #2A6666
$badgeWarningColor = #FFFCB4
$badgeErrorColor = #CD204E

